.header {
  width: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 25px;
  transition: background-color 0.3s ease-in-out;
}

.header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0B2436;
  z-index: 1000;
}

.header > div > a {
  text-decoration: none;
  color: white;
}

.key-logo {
  font-size: 1.6rem;
  color: #3E7BFA;
}

.header > div > a > p {
  display: inline;
  padding: 0 5px;
  font-size: 1.4rem;
  font-weight: bold;
}

.menu-container {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
}

.menu li a:hover {
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.459);
}

@media (max-width: 500px) {
  .menu-container {
    flex-direction: column;
  }

  .hamburger {
    display: flex;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #0B2436;
    position: absolute;
    top: 70px;
    right: -70%;
    z-index: 999;
  }

  .menu.open {
    display: flex;
    align-items: flex-start;
  }

  .menu li {
    background-color: #0B2436;
    padding: 0 10px;
    width: 100%;
  }
}
