.apresentation {
  padding: 0 0px 50px;
}

.apresentation > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  margin: 0 auto;
}

.apresentation > div > div {
  width: 100%;
  margin: 0 auto;
}

.apresentation h1 {
  font-weight: 400;
  font-size: 2rem;
}

.apresentation h1 span {
  font-weight: 700;
  font-size: 4rem;
}

.buttonSocial {
  display: flex;
  gap: 20px;
  justify-content: start;
  margin-top: 25px;
}

img {
  max-width: 460px;
  width: 100%;
}

@media (max-width: 950px) {
  .apresentation > div {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .apresentation h1 {
    font-weight: 400;
    font-size: 1.6rem;
  }
  
  .apresentation h1 span {
    font-weight: 700;
    font-size: 3.4rem;
  }
  
  section img {
    max-width: 360px;
  }
}

@media (max-width: 800px) {
  section img {
    max-width: 300px;
  }

  .apresentation img {
    max-width: 280px;
  }
}

@media (max-width: 700px) {
  .apresentation > div > div {
    width: initial;
  }

  .apresentation h1 {
    font-weight: 400;
    font-size: 1.6rem;
  }
  
  .apresentation h1 span {
    font-weight: 700;
    font-size: 4rem;
  }

  section > div > img {
    display: none;
  }
}

@media (max-width: 390px) {
  .apresentation h1 {
    font-weight: 400;
    font-size: 1.4rem;
  }
  
  .apresentation h1 span {
    font-weight: 700;
    font-size: 3rem;
  }
}