button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.63);
}

button img {
  width: 30px;
}

button span {
  font-size: 1.2rem;
  font-weight: 700;
  padding-top: 2px;
}